*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: lightgray;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding: 0 5%; 
    background-color: #fff;
}
.logo{
    line-height: 60px;
}
.logo span{
    color: rgb(145, 144, 162);
}
.lista{
    display: flex;
    line-height: 60px;
    list-style: none;
    margin: 0 10px;
}
.lista li a{
    text-decoration: none;
    color: #000;
    padding: 5px 20px;
    font-size: 15px;
}
.lista li a:hover{
    border-bottom: 2px solid #000;
}
